version: '3.8'

services:
  # Nginx Load Balancer
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web1
      - web2
      - web3
    networks:
      - service_networks

  # HAProxy for PostgreSQL
  haproxy:
    image: haproxy:2.8-alpine
    ports:
      - "5435:5432"  # Master
      - "5436:5433"  # Slaves
      - "8404:8404"  # Stats
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    depends_on:
      - db
      - db-slave1
      - db-slave2
    networks:
      - service_networks

  # Application instances
  web1:
    build: .
    container_name: social-network-web1
    expose:
      - "8000"
    depends_on:
      haproxy:
        condition: service_started
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    networks:
      - service_networks

  web2:
    build: .
    container_name: social-network-web2
    expose:
      - "8000"
    depends_on:
      haproxy:
        condition: service_started
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    networks:
      - service_networks

  web3:
    build: .
    container_name: social-network-web3
    expose:
      - "8000"
    depends_on:
      haproxy:
        condition: service_started
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/.venv
    env_file:
      - .env
    networks:
      - service_networks

  db:
    image: postgres:17
    container_name: postgres-master
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - ../.db_data/postgresdata:/var/lib/postgresql/data
      - ./master-db-config/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./master-db-config/pg_hba.conf:/etc/postgresql/pg_hba.conf
    env_file:
      - .env
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-social_network}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    networks:
      - service_networks

  db-slave1:
    image: postgres:17
    container_name: postgres_slave1
    ports:
      - "5433:5432"
    volumes:
      - ../.db_data/slave1data:/var/lib/postgresql/data
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - service_networks

  db-slave2:
    image: postgres:17
    container_name: postgres_slave2
    ports:
      - "5434:5432"
    volumes:
      - ../.db_data/slave2data:/var/lib/postgresql/data
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - service_networks

  # Redis cache
  redis:
    image: redis:8.2-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - ../.db_data/redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - service_networks

  # Redis Commander (Web UI для управления Redis)
  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
    networks:
      - service_networks

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - service_networks

networks:
  service_networks:
    name: service_networks
    driver: bridge
